@charset "utf-8";

@media screen and (min-width: 1440px) and (max-width: 1760px) {
	.one > p { font-size: 15px; margin-top: 2%;}
	.one ul { position: absolute; bottom: 60px; left: 20px; }
	.one li a { font-size: 40px; width: 800px; }

	.box { width: 800px; height: 650px; }
	.img { width: 800px; height: 650px; }
	.imgG a img { width: 800px; height: 650px; }

}
