@charset "utf-8";

* { color: #fff; transition: .4s;}
body { background-color: #000; font-family: 'Play', sans-serif; letter-spacing: 2px;}

	header { overflow: hidden; }
	ul { overflow: hidden; }
	header > div:nth-of-type(1) { float: left; margin: 20px; }
	header > div:nth-of-type(2) { float: right; margin: 20px; letter-spacing: 1px;}
	div:nth-of-type(1) h2 { margin-top: 10px; }
	div:nth-of-type(1) h1 a:hover { color: #939393;}
	div:nth-of-type(2) a { margin-left: 10px;}
	div:nth-of-type(2) a:nth-of-type(1) { color: #939393;}
	div:nth-of-type(2) a:nth-of-type(1):hover { color: #565656;}

	.one > h1 a { color: red; font-family: 'Abril Fatface', cursive; font-size: 30px; position: absolute; top: 35%; left: 16%;}
	.one > h2 { color: #fff; font-family: 'Racing Sans One', cursive; font-size: 60px; position: absolute; top: 40%; left: 16%; line-height: 80px;}
	.one > p:nth-of-type(1) { display: none; position: absolute; top: 35%; left: 50%; }
	.one > p:nth-of-type(2) { display: none; position: absolute; top: 35%; left: 50%; }
	.two { font-size: 20px; display: none;}
	.two > ul:nth-of-type(1) { float: left; position: absolute; top: 30%; left: 52%; padding: 10px;}
	.two > ul:nth-of-type(2) { float: left; position: absolute; top: 30%; left: 58%; padding: 10px;}
	.two > ul li {padding: 10px 0; }


	article { display: none; }

	article img:nth-of-type(1) { position: absolute; top: 48.5%; left: 60%; }
	article img:nth-of-type(2) { position: absolute; top: 51.5%; left: 60%; }
	article img:nth-of-type(3) { position: absolute; top: 54.5%; left: 60%; }
	article img:nth-of-type(4) { position: absolute; top: 57.5%; left: 60%; }
	article img:nth-of-type(5) { position: absolute; top: 60.5%; left: 60%; }
	article img:nth-of-type(6) { position: absolute; top: 63.5%; left: 60%; }

	article > h4 { font-size: 20px; }
	article > h4:nth-of-type(1) { position: absolute; top: 48%; left: 52.5%; }
	article > h4:nth-of-type(2) { position: absolute; top: 51%; left: 52.5%; }
	article > h4:nth-of-type(3) { position: absolute; top: 54%; left: 52.5%; }
	article > h4:nth-of-type(4) { position: absolute; top: 57%; left: 52.5%; }
	article > h4:nth-of-type(5) { position: absolute; top: 60%; left: 52.5%; }
	article > h4:nth-of-type(6) { position: absolute; top: 63%; left: 52.5%; }

	article > p { line-height: 25px;}
	article > p:nth-of-type(1) { position: absolute; top: 70%; left: 52.5%; }
	article > p:nth-of-type(2) { position: absolute; top: 76%; left: 52.5%; }
	article > p:nth-of-type(3) { position: absolute; top: 82%; left: 52.5%; }
	
	footer img { position: absolute; top: 30%; left: 50%; display: none;}
	footer p:nth-of-type(2) { position: absolute; top: 38%; left: 53%; font-size: 35px; display: none;}
	footer p:nth-of-type(2) span { font-size: 25px;}
	footer h5 { position: absolute; top: 50%; right: 50px; }
	footer i { position: absolute; top: 50.2%; right: 25px; color: red; font-size: 20px;}
	footer h5 a { color: red; font-size: 20px; }