@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Radley');

@font-face {
  font-family: 'Britannic Bold T.';
  src: url('https://jijihyeon.github.io/portfolio/magazine/font/Britannic Bold T..eot');
  src: url('https://jijihyeon.github.io/portfolio/magazine/font/Britannic Bold T..woff2') format('woff2'),
       url('https://jijihyeon.github.io/portfolio/magazine/font/Britannic Bold T..eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
