@charset "utf-8";

/* font-family: 'Song Myung', serif; */
@import url('https://fonts.googleapis.com/css?family=Song+Myung');


/* font-family: 'Eater', cursive; */
@import url('https://fonts.googleapis.com/css?family=Eater');

@import url('https://fonts.googleapis.com/css?family=Radley');

/*font-family: 'Nanum Myeongjo', serif;*/
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');

/*@font-face {
  font-family: 'SongMyung-Regular';
  src: url('SongMyung-Regular.eot');
  src: url('SongMyung-Regular.woff2') format('woff2'),
       url('SongMyung-Regular.woff') format('woff'),
       url('SongMyung-Regular.svg#SongMyung-Regular') format('svg'),
       url('SongMyung-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
*/