@charset "utf-8";

body { font-family: 'Radley', serif; }
		.main { width: 1200px; height:2870px; margin: 0 auto; }
		header { position: relative; height: 1300px;}
		header > .box { width: 640px; height: 2600px; position: absolute; top: 135px; left: 0; right: 0; margin: auto; background-color: #eee; }
		header > h1 { width: 345.281px; font-size: 70px; font-weight: bold; position: absolute; top: 60px; left: 0; right: 0; margin: auto; text-align: center; line-height: 75px;}
		header > img:nth-of-type(1) { position: absolute; top: 250px; left: 0; right: 0; margin: auto; }
		header > img:nth-of-type(2) { position: absolute; top: 400px; left: 0; right: 0; margin: auto; }

		.one{ position: relative; height: 266px; width: 1000px; left: 120px; }
		.one > img { float: left; }
		.one > fieldset { margin-left: 40px; height: 266px;}
		h2{ font-size: 40px; /*font-weight: bold;*/ margin:10px;}
		.one  h2:nth-of-type(2){padding-top: 25px;}
		.one  p { margin:20px; line-height: 1.5; font-family: '맑은 고딕'; }
		.one p em { font-size: 20px; font-weight: bold; }

		.two {  position: relative; }
		.two > aside { position: absolute;top: 100px; left: 150px; width: 1200px; height: 200px; }
		.two  fieldset { float: left; width: 400px;}
		.two fieldset li{ float: left; padding-top: 40px; padding-right:30px; text-align: center; line-height: 40px; }
		.two fieldset li:nth-of-type(2) { font-weight: bold;}
		.two fieldset li:nth-of-type(3) { font-size: 50px; line-height: 44px;}
		.two fieldset span { margin-top: 0px; }

		.font1 { font-family: 'Song Myung'; }
		.font1 > h2 { font-size: 24px; }
		.font1 li { font-size: 70px; }
		.font1 span { font-size: 15px; }

		.font2 { font-family: 'Eater'; }
		.font2 > h2 { font-size: 22px; }
		.font2 li { font-size: 68px; }
		.font2 span { font-size: 13px; }
		.font3 { position: relative; }
		.font3 > h2 { position:absolute; top:56px; right: 270px; font-size: 40px;  }
		.font3 > img {  position:absolute; top:50px; right: 240px;}

		.three { position: relative; margin-top: 400px; width: 1200px; }
		.three img  { float: left; margin-left: 125px; }
		.three h2 { float: left; margin: 10px 40px; }
		.three div { width: 150px; height: 50px; float: left; margin-right: 70px; margin-top: 10px; }
		.three ul { clear: both; margin-left: 306px; }
		.three li { float: left; margin-right: 145px; line-height: 1.2;}
		.three span { margin-top: 10px;}
		.color1 { background-color: #fff; }
		.color2 { background-color: #000; }
		.color3 { background-color: #d42733; }

		.four { clear: both; position: relative; margin-top: 180px;}
		.four > img { margin-left: 520px; }
		.four > h2 { margin-left: 507px; }
		.four > aside { margin-left: 180px; margin-top: 70px;}
		.four h5 { font-size: 26px; margin-bottom: 15px; }
		.four p { margin-bottom: 20px; line-height: 1.5; font-family: '맑은 고딕'; margin-left: 15px;}
		.four p em { font-size: 17px; font-weight: bold; }
		.four h5:nth-of-type(2) { margin-top: 50px; margin-bottom: 0px;}
		.four p:nth-of-type(3) { margin-top: 20px; margin-bottom: 0px;}

		footer { position: relative; }
		footer > .box { width: 250px; height: 50px; background-color: #eee;  position: absolute; top: 100px; left: 0; right: 0; margin:auto;}
		.box > p a,i { font-size: 27px; color: #000; text-align: center; line-height: 50px; margin-left: 27px;}
		.box > a i { position: absolute; top: 14px; left: 170px; }
