@charset "utf-8";

/* 테블릿 */
@media screen and (max-width: 1024px) {
	header > h2 { font-size: 10px; }
	header > h2 input { height: 8px; width: 150px; }
	#logo { font-size: 25px; margin-left: 50px;}
	nav { font-size: 20px; position: fixed; left: 50px; top: 150px;}
	.two li { font-size: 10px; }
	#main { position: fixed; top: 50%; left: 50%; margin-left: -155.595px; margin-top: -25px; font-size: 50px; }
}

/* 모바일 */
@media screen and (max-width: 600px) {
	header > h2 { display: none; }
	#logo { position: fixed; left:90px; top: -5px;}
	#main { position: fixed; top: 50%; left: 50%; margin-left: -124.475px; margin-top: -20px; font-size: 40px; }
	.two li { font-size: 8px; }
	nav { height: 100%; position: fixed; top: 0; left: 0; font-size: 15px; }
	nav .open {
		display: block;
		width: 25px; height: 25px;
		background:url(images/nav.png) no-repeat;
		background-size: cover;
		position: absolute;
		top: 20px; left: 20px;
		text-indent: -9999px;
		cursor: pointer;
	}
	nav .sideMenu {
		width: 300px; height: 100%;
		background-color: #282828;
		font-weight: bold;
		position: relative;
		left: -320px;
		overflow: hidden;
	}
	nav .sideMenu .close{
		display:block;
		width: 25px; height: 25px;
		background:url(images/nav.png) no-repeat;
		background-size: cover;
		position: absolute;
		top: 20px; right: 20px;
		cursor: pointer;
		z-index: 999;
	}
	nav .sideMenu .one {
		position: absolute; top: 100px; left: 35%;
		font-size: 20px;
	}
	nav > p { display: none; }
}
