@charset "utf-8";
/* 넷북 */
@media screen and (max-width: 1440px){
	article { width: 900px; position: absolute; left: 30%;}
}

/* 테블릿 */
@media screen and (max-width: 1024px) {
	header > h2 { font-size: 10px; }
	header > h2 input { height: 8px; width: 150px; }
	#logo { font-size: 25px; margin-left: 50px; position: fixed;}
	nav { font-size: 20px; position: fixed; left: 50px; top: 150px;}
	.two > li { font-size: 10px; }
	article { width: 560px; position: absolute; top: 130px; }
	article > fieldset { margin-right: 80px; }
	article > fieldset a img { width: 200px; }
	header > h2 { font-size: 10px; }
}

@media screen and (max-width: 600px) {
	nav > p { display: none; }
	article { width: 200px; position: absolute; top: 100px; left: 85px; z-index: 9999;}
	header > h2 { display: none; } 
	#logo { position: absolute; left:90px; top: -5px; z-index: 9999;}

	.two li { font-size: 8px; }
	nav { height: 100%; position: fixed; top: 0; left: 0; font-size: 15px;}
	nav > .open {
		display: block;
		width: 25px; height: 25px;
		background:url(images/nav1.png) no-repeat;
		background-size: cover;
		position: absolute;
		top: 20px; left: 20px;
		text-indent: -9999px;
		cursor: pointer;
	}
	nav > .sideMenu {
		width: 300px; height: 100%;
		background-color: rgb(295,295,295);
		font-weight: bold;
		position: relative;
		left: -320px;
		overflow: hidden;
	}
	nav > .sideMenu >.close{
		display:block;
		width: 25px; height: 25px;
		background:url(images/nav1.png) no-repeat;
		background-size: cover;
		position: absolute;
		top: 20px; right: 20px;
		cursor: pointer;
		z-index: 99999;
	}
	nav>.sideMenu>.one {
		position: absolute; top: 100px; left: 35%;
		font-size: 20px;
	}

}